/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Seccion Hero */
.hero-section {
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.container {
  z-index: 3;
  text-align: center;
  margin-top: auto; /* Asegura que el contenido esté centrado verticalmente */
  margin-bottom: auto;
}

#pres-hero {
  font-family: 'Courier Prime', monospace;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
}

/* Efecto de escritura */
#typewriter {
  font-family: 'Courier Prime', monospace;
  font-weight: 400;
  font-size: 4rem;
  white-space: nowrap;
  border-right: 2px solid;
  display: inline-block; /* Asegura que el cursor esté pegado al texto */
  animation: blink-caret 0.75s step-end infinite;
  color: white;
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.mb-5 {
  z-index: 3;
  margin-bottom: 5rem;
}

section {
  background-color: #1a191d;
  color: white;
  font-family: 'Courier Prime', monospace;
  padding: 5rem;
}

/* Seccion Sobre mi */
.principal {
  margin: auto;
  width: 90%;
}

.principal h2 {
  font-family: 'Courier Prime', monospace;
  font-size: 3rem;
  font-weight: 700;
  font-style: normal;
}

.conoceme-cont {
  display: grid;
  grid-gap: 10rem;
  grid-template-columns: 1fr 1fr;
}

.conoceme-descripcion {
  border: 2px solid white;
  border-radius: 10px;
  padding: 2rem;
}

.conoceme-descripcion h3 {
  font-family: 'Courier Prime', monospace;
  font-size: 1.5rem;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.conoceme-descripcion p {
  font-family: 'Courier Prime', monospace;
  font-size: 1rem;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.conoceme-main-p {
  position: relative; /* Necesario para el posicionamiento absoluto del ::after */
}

.conoceme-main-p::after {
  content: '';
  width: 0%;
  height: 85%;
  position: absolute;
  top: 7%;
  left: 5px;
  z-index: 1;
  border: 2px solid #1f88da;
}

.conoceme-parrafo {
  position: relative;
  font-family: monospace;
  font-size: 1rem;
  padding-left: 1.5rem;
  margin: 0;
  z-index: 2;
}

.conoceme-parrafo::before {
  content: '<p>';
  margin-bottom: 5px;
  display: block;
  margin-left: -35px;
  font-family: 'Courier Prime', monospace;
  font-size: 1rem;
  color: #1f88da;
}

.conoceme-parrafo::after {
  content: '</p>';
  margin-top: 5px;
  display: block;
  margin-left: -35px;
  font-family: 'Courier Prime', monospace;
  font-size: 1rem;
  color: #1f88da;
}

.conoceme-skills h3 {
  font-family: 'Courier Prime', monospace;
  font-size: 1.5rem;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.skills-principal {
  display: flex;
  flex-wrap: wrap;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  text-align: center;
  padding: 0.5rem;
  position: relative;
  border-radius: 5px;
  background: none;
  transition:
    padding 0.5s ease,
    background 0.5s ease,
    border-radius 0.5s ease,
    transform 0.5s ease;
  overflow: hidden;
  opacity: 0;
}

.skills.animate {
  animation: fadeInUp 0.8s ease forwards;
}

.skills:hover {
  padding: 0.5rem;
  background: #1f88da;
  border-radius: 5px;
}

/* Animación de fadeInUp con crecimiento */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(1); /* Inicialmente más abajo y reducido */
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1.1); /* En su posición original y tamaño normal */
  }
}

.svg {
  width: 100px;
  height: 100px;
}

/* Seccion Proyectos */
.proyectos {
  padding: 6rem 0;
  background-color: #1a191d;
  color: white;
  text-align: center;
}

.proyectos-main {
  width: 90%;
  display: inline-block;
}

.proyectos h2 {
  font-family: 'Courier Prime', monospace;
  font-size: 3rem;
  font-weight: 700;
}

/* Cambia el color de fondo de las tarjetas */
.card.h-100 {
  background-color: #1f88da; /* Cambia este color según lo que prefieras */
  border-radius: 10px; /* Opcional: agrega bordes redondeados */
  overflow: hidden; /* Asegura que la imagen no se salga del contenedor */
}

/* Aplica el efecto grow solo a las imágenes */
.card.h-100 img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
  transition: transform 0.5s ease; /* Transición suave */
}

.card.h-100 img:hover {
  transform: scale(1.1); /* Aplica el efecto de agrandamiento */
}

.card-body h3 {
  font-family: 'Courier Prime', monospace;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

.card-body p {
  font-family: 'Courier Prime', monospace;
  font-size: 1rem;
  font-weight: 400;
  color: white;
}
